{%extends "base.html"%} {%block title%}login{%endblock%} {%block body%} {%
include 'message_flash.html' with context %}

<div
  class="container shadow-lg col-12 col-md-5 p-5 mt-5 center border bg-white rounded-5 max-vw-100"
>
  <form method="post">
    <h2 align="center" class="p-2 mt-3">Login</h2>

    <div class="form-group p-2 mt-1">
      <div class="p-2">
        <label for="username" class="fs-6">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          class="form-control"
          placeholder="Enter username"
          required
        />
      </div>
      <div class="p-2 mt-2">
        <label for="password" class="fs-6">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Enter password"
          required
        />
      </div>
      <br />
      <div align="center">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </div>
  </form>
</div>

{%endblock%}
