{% extends "base.html" %} {% block title %}signup{% endblock %} {% block body %}
<br />
{% include 'message_flash.html' with context %}
<div
  class="container shadow-lg col-12 col-md-5 p-5 mt-5 center border bg-white rounded-5 max-vw-100"
>
  <form class="form" method="post">
    <h2 align="center" class="p-2 mt-3">Sign up as Sponsor</h2>

    <label for="email">Email Address</label>
    <input
      type="email"
      id="email"
      name="email"
      class="form-control"
      placeholder="Enter Email"
      required
    />

    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      name="username"
      class="form-control"
      placeholder="Enter Username"
      required
    />

    <label for="password1">Password</label>
    <input
      type="password"
      id="password1"
      name="password1"
      class="form-control"
      placeholder="Enter Password"
      required
    />

    <label for="password2">Confirm Password</label>
    <input
      type="password"
      id="password2"
      name="password2"
      class="form-control"
      placeholder="Confirm Password"
      required
    />

    <label for="industry">Industry</label>
    <input
      type="text"
      id="industry"
      name="industry"
      class="form-control"
      placeholder="Enter Industry"
      required
    />
    <div align="center">
      <button class="btn btn-primary mt-3" type="submit">Sign Up</button>
    </div>
  </form>
  <hr />
  <div class="d-flex justify-content-evenly">
    <a href="/signup/influencer" class="btn-secondary">Sign up as Influencer</a>
  </div>
</div>

{% endblock %}
